.carousel{
    display: flex;
    height: 450px;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    padding: 0 0 0 var(--padding-lg) ;

    ::-webkit-scrollbar {
        display: none;
    }

    .container{
        display: flex;
        gap: 30px;
        padding: 0 var(--padding-lg) 0 0;
    }
}